logfile = /var/log/meteo/superweather.log
# node for clients connection, if you point localost:xxxx, then NET socket would have only local access
port    = 4444
# logging level: 0 - ERR, 1 - WARN, 2 - MSG, 3 - DBG, 4 - all shit
verbose = 2
# path to local command UNIX-socket (first '@' means anonymous)
sockpath = "@weather"
# sensors polling time - 1s
pollt = 1

# !!! Point plugins in order of meaning: the most important are first !!!
# see help for plugins format
plugin = libwxa100.so:D:/dev/pl2303_0
plugin = libhydreon.so:D:/dev/ch340_0:1200
plugin = libbtameteo.so
# this should be last as almost a half of its sensors are broken
plugin = libreinhardt.so:D:/dev/ttyS0
